<table class="app-table">
  <tr>
    <th *ngFor="let header of headers">
      {{ header.name }}
    </th>
    <th *ngIf="actions.length > 0">
      Actions
    </th>
  </tr>
  <tr *ngFor="let data of dataset">
    <td *ngFor="let header of headers">
      {{ data[header.dataIndex] }}
    </td>
    <td *ngFor="let action of actions">
      <app-button (onclick)="action?.callback(data)">
        {{ action.buttonName }}
      </app-button>
    </td>
  </tr>
  <tr *ngIf="dataset.length === 0">
    <td [attr.colspan]="headers.length + (actions.length > 0 ? 1 : 0)">
      No records to show
    </td>
  </tr>
</table>